.features-header {
  width: 100%;
  text-align: center;
}

.features-title {
  color: white;
  font-weight: bold;
  font-size: 3rem;
  line-height: 1;
  margin-bottom: 0.5rem;
  margin-top: 2rem;
}

.features-title .highlight {
  color: #643b9a;
}

.features-subtitle {
  color: white;
  letter-spacing: 0.1rem;
  font-size: 1.125rem;
  margin-top: 0.5rem;
}

/* Features Grid */
.features-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.25rem;
  margin-top: 2.5rem;
  padding: 0 5rem 5rem 5rem;
}

@media (min-width: 1024px) {
  .features-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* Feature Card */
.feature-card {
  background-color: #14142d;
  padding: 1.25rem;
  border-radius: 0.5rem;
  min-height: 11rem;
  transition: transform 0.3s ease, box-shadow 0.3s ease,
    background-color 0.3s ease;
}

.feature-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 10px 30px rgba(100, 59, 154, 0.3);
  background-color: #1a1a3e;
}

.feature-card-header {
  display: flex;
  justify-content: space-between;
  color: white;
}

.feature-card-header i {
  width: 24px;
  height: 24px;
  transition: transform 0.3s ease;
}

.feature-card:hover .feature-card-header i {
  transform: scale(1.2) rotate(5deg);
}

.feature-badge {
  border: 1px solid #643b9a;
  background-color: #885fbd33;
  padding: 0.25rem 1rem;
  border-radius: 0.375rem;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

.feature-card:hover .feature-badge {
  background-color: #643b9a;
  border-color: #885fbd;
}

.feature-badge p {
  margin: 0 !important;
  padding: 0;
  line-height: 1.5;
  padding: 3px;
}

.feature-card h1 {
  color: white;
  margin-top: 0.5rem;
  text-align: start;
  font-size: 1.5rem;
  line-height: 1.75rem;
}

.feature-card p {
  color: white;
  margin-top: 0.5rem;
  text-align: justify;
  line-height: 1.5rem;
}

.feature-card ul {
  color: white;
  margin-top: 0.5rem;
  text-align: justify;
  padding-left: 0rem;
  list-style: none;
}

.feature-card ul li span {
  display: block;
  margin-left: 1rem;
  text-align: start;
}

.feature-card ul li .low-risk-badge {
  display: inline-block;
  width: 8px;
  height: 8px;
  background-color: #22c55e;
  border-radius: 50%;
  margin-right: 8px;
  vertical-align: middle;
  margin-left: 0;
}
.feature-card ul li .high-risk-badge {
  display: inline-block;
  width: 8px;
  height: 8px;
  background-color: #ff7300ff;
  border-radius: 50%;
  margin-right: 8px;
  vertical-align: middle;
  margin-left: 0;
}
.feature-card ul li .medium-risk-badge {
  display: inline-block;
  width: 8px;
  height: 8px;
  background-color: #ffb300ff;
  border-radius: 50%;
  margin-right: 8px;
  vertical-align: middle;
  margin-left: 0;
}
.feature-card ul li .very-high-risk-badge {
  display: inline-block;
  width: 8px;
  height: 8px;
  background-color: #ff0000ff;
  border-radius: 50%;
  margin-right: 8px;
  vertical-align: middle;
  margin-left: 0;
}
